{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title|default("UC VET - Clinique vétérinaire") }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500|Material+Icons" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500|Droid+Sans+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta10/shoelace.css">
    <link href="/css/site.css" rel="stylesheet">

    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body class="{% block bodyClass %}{% endblock %}">
    <div class="main-wrapper">
      <header class="header">
        <div class="content-wrapper">
          <div class="mobile-menu-button-wrapper">
            <div class="mobile-menu-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <a class="main-logo" href="/">
            <!-- <img src="/images/logo.svg"> <span>UC VET</span> -->
            <!-- <img src="/images/logo-text.svg"> -->
            <img src="/images/logo.svg"> <span>UC vet</span>
            <!-- UC VET LOGO -->
          </a>
          <nav class="main-nav">
            <ul class="main-nav__list">
              {% for link in navLinks %}
                <li class="main-nav__entry {{ 'is-active' if link.key == section else '' }}">
                  <a href="{{ link.href }}">{{ link.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          <a class="button--cta" href="tel:07123123123">
            <i class="fa fa-phone"></i>
            <div class="right">
              <span class="text">7/7 24/24</span>
              <span class="phone">06 12 12 23 12</span>
            </div>
          </a>
        </div>
      </header>
      <main class="main">
        {% block content %}{% endblock %}
      </main>
      <footer class="footer">
        <div class="content-wrapper">
          Urgences et Consultants Vétérinaires © 2017 | 54 rue Stendhal 75020 PARIS - 01 71 19 70 10
        </div>
      </footer>
    </div>

    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/app.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
