<ul class="small-list">
  <li class="small-list__entry">
    <!-- <i class="material-icons">place</i> -->
    <i class="fa fa-fw fa-map-marker"></i>
    54 rue Stendhal 75020 PARIS
  </li>
  <li class="small-list__entry entry--metro">
    <i class="fa fa-fw fa-subway"></i>
    <div>
      <span>Métro Gambetta</span>
      <div class="metro-wrapper">
        <img src="/images/ligne-3.png">
        <img src="/images/ligne-3-bis.png">
      </div>
    </div>
  </li>
  <li class="small-list__entry">
    <i class="fa fa-fw fa-bus"></i>
    <div>
      Proximité des Bus <span class="bus b26">26</span> <span class="bus b60">60</span> <span class="bus b61">61</span> <span class="bus b64">64</span> <span class="bus b102">102</span> et de "La Traverse"
    </div>
  </li>
  <li class="small-list__entry">
    <i class="fa fa-fw fa-car"></i>
    <span>
      Périphérique porte de bagnolet / porte des lilas
    </span>
  </li>
  <li class="small-list__entry">
    <!-- <i class="material-icons">phone</i> -->
    <i class="fa fa-fw fa-phone"></i>
    <a href="tel:07123123123">07123123123</a>
  </li>
  <li class="small-list__entry">
    <i class="fa fa-fw fa-envelope"></i>
    <a href="mailto:your@email.com">your@email.com</a>
  </li>
</ul>
