{% macro fiche(slug, name, date, categories, brief) %}
  <li class="fiche animate-element">
    <a class="fiche--inner" href="/fiches/{{slug}}">
      <div class="top">
        <h4 class="heading-4">{{name}}</h4>
      </div>
      <div class="bottom">
        <p class="date">{{date}}</p>
          {% if categories and categories.length %}
            <ul class="tag-list">
              {% for cat in categories %}
                <li class="tag-list__entry">{{ cat.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        <hr>
        <p class="description">{{brief}}</p>
        <div class="arrow">
          {% include "svg/icon-arrow-circle.svg" %}
        </div>
      </div>
    </a>
  </li>
{% endmacro %}
