{% extends "layouts/base.html" %}

{% block bodyClass %}clinique{% endblock %}

{% block content %}
  <div class="clinique-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
    </div>
    <div class="page__content html-content animate-element animate-element--translate">
      {{data.pageContent|safe}}
    </div>
  </div>
{% endblock %}
