{% extends "layouts/base.html" %}

{% block content %}
  <div class="contact-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
      {% if enquirySubmitted %}
        <h2 class="animate-element animate-element--translate">Merci pour votre message, nous vous répondrons dans les plus bref délais.</h2>
      {% else %}
    </div>
    <div class="contact-page__body animate-element animate-element--translate">
      <div class="left">
        <div class="inner">
          {% include "layouts/contact-list.html" %}
        </div>
      </div>
      <div class="right">
        {{ FM.flashMessages(messages) }}
        <form method="post">
          <input type="hidden" name="action" value="contact">

          {% set class = ( "input-invalid" if validationErrors.name else "" ) %}
          <div class="input-single {{ class }}">
            <label>Prénom</label>
            <input type="text" name="name.full" value="{{ formData["name.full"] }}" class="form-control">
          </div>
          {% set class = ( "input-invalid" if validationErrors.email else "" ) %}
          <div class="input-single {{ class }}">
            <label>Email</label>
            <input type="email" name="email" value="{{ formData.email }}" class="form-control">
          </div>
          <div class="input-single">
            <label>Numéro de téléphone</label>
            <input type="text" name="phone" value="{{ formData.phone }}" placeholder="(facultatif)" class="form-control">
          </div>
          {% set class = ( "input-invalid" if validationErrors.enquiryType else "" ) %}
          <div class="input-single {{ class }}">
            <label>Est ce une urgence?</label>
            <select name="enquiryType" class="form-control">
              {% for type in enquiryTypes %}
                {% set selected = ( 'selected="selected"' if formData.enquiryType == type.value else "" ) %}
                <option value="{{type.value}}" {{ selected }}>{{ type.label }}</option>
              {% endfor %}
            </select>
          </div>
          {% set class = ( "input-invalid" if validationErrors.message else "" ) %}
          <div class="input-single {{ class }}">
            <label>Message</label>
            <textarea name="message" placeholder="Votre message..." rows="4">{{ formData.message }}</textarea>
          </div>
          <button type="submit" class="button-block">Envoyer</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
