{% extends "layouts/base.html" %}

{% block content %}
  <div class="fiche-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
      {{ FM.flashMessages(messages) }}
    </div>
    <div class="fiche-catalogue animate-element animate-element--translate">
      <nav class="fiche-nav">
        <div class="search">
          <div class="input-icon">
            <i class="fa fa-fw fa-search"></i>
            <input id="search-input" type="search" placeholder="rechercher...">
          </div>
          <i class="fa fa-fw fa-close" id="close-fiche-menu"></i>
        </div>

        <div class="fiche-nav__list accordion">
          {% for category in data.categories %}
            <h3 class="fiche-nav__entry category">
              <i class="fa fa-fw fa-chevron-right"></i> {{category.name}}
            </h3>
            <ul class="fiche-nav__fiche-list category-list">
              {% for fiche in data.fiches %}
                {% if (fiche.publishedDate) and (fiche.category.id == category.id) %}
                  <li class="fiche-nav__entry {{ 'is-active' if fiche.slug == activeFiche else '' }}">
                    <a href="/fiches/{{fiche.slug}}">
                      {{fiche.name}} <br>
                      <span class="views">Consultée {{fiche.views}} fois.</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
          <li class="no-results">Aucune fiche trouvée</li>
        </div>

      </nav>
      <div class="fiche-nav__overlay"></div>
      <div class="fiche-main">
        <div class="fiche html-content">
          <button id="fiches-mobile-button" type="button" class="button-reset">
            <i class="fa fa-fw fa-chevron-right"></i>
            Voir toutes les fiches
          </button>
          {% if fiche %}
            <div class="fiche__header">
              <h1 class="heading-1">{{fiche.name}}</h1>
              {% if fiche.publishedDate %}
                <p class="date">{{ fiche._.publishedDate.format("DD/MM/YYYY") }}</p>
              {% endif %}
              {% if fiche.category %}
                <ul class="tag-list">
                  <li class="tag-list__entry">{{ fiche.category.name }}</li>
                </ul>
              {% endif %}
            </div>
            <hr>
            <div class="fiche__content">
              {{ fiche.content|safe }}
            </div>
            <div class="contact-widget">
              <div class="inner">
                <span>N'hésitez pas à</span>
                <a href="/contact" class="button">nous contacter</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
