{% extends "layouts/base.html" %}

{% block content %}
  <div class="fiche-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
      {{ FM.flashMessages(messages) }}
    </div>
    <div class="fiche-catalogue animate-element animate-element--translate">
      <nav class="fiche-nav">
        <div class="search">
          <div class="input-icon">
            <i class="fa fa-fw fa-search"></i>
            <input id="search-input" type="search" placeholder="rechercher...">
          </div>
          <i class="fa fa-fw fa-close" id="close-fiche-menu"></i>
        </div>
        <ul class="fiche-nav__list">
          {% for fiche in fiches %}
            {% if fiche.publishedDate %}
              <li class="fiche-nav__entry {{ 'is-active' if fiche.slug == activeFiche else '' }}">
                <a href="/fiches/{{fiche.slug}}">{{fiche.name}}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="no-results">Aucune fiche trouvée</li>
        </ul>
      </nav>
      <div class="fiche-nav__overlay"></div>
      <div class="fiche-main">
        <div class="fiche">
          <button id="fiches-mobile-button" type="button" class="button-reset">
            <i class="fa fa-fw fa-chevron-right"></i>
            Voir toutes les fiches
          </button>
          {% if fiche %}
            <div class="fiche__header">
              <h1 class="heading-1">{{fiche.name}}</h1>
              {% if fiche.publishedDate %}
                <p class="date">{{ fiche._.publishedDate.format("DD/MM/YYYY") }}</p>
              {% endif %}
              {% if fiche.categories and fiche.categories.length %}
                <ul class="tag-list">
                  {% for cat in fiche.categories %}
                    <li class="tag-list__entry">{{ cat.name }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <hr>
            <div class="fiche__content html-content">
              {{ fiche.content|safe }}
            </div>
            <div class="fiche__cta-bottom">
              <span>N'hésitez pas à</span>
              <a href="/contact" class="button">nous contacter</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
