{% extends "layouts/base.html" %}

{% block pagetitle %}{{gallery.name}}{% endblock %}

{% block content %}
  <!-- <p>{{gallery}}</p> -->
  {% if gallery.images.length %}
    <ul class="image-list">
      <!-- {% for image in gallery.images %}
        <li class="image-list__entry">
          <img class="gallery-image" src="{{image._.image.fit(250, 250)}}">
          <p class="title">{{image.name}}</p>
        </li>
      {% endfor %} -->
      {% for i in range(0, 18) %}
        <li class="image-list__entry">
          <img class="gallery-image" src="https://source.unsplash.com/random/200/?sig={{i}}&nature">
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
