{% extends "layouts/base.html" %}

{% block bodyClass %}service{% endblock %}

{% block content %}
  <div class="service-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
    </div>
    <section class="section--half">
      <div class="section--half__text">
        <div class="inner">
          {{data.pageText1|safe}}
        </div>
      </div>
      <div class="section--half__image">
        <img src="{{data._.pageImage1.fit(1000, 1000)}}">
      </div>
    </section>
    <section class="section--half">
      <div class="section--half__text">
        <div class="inner">
          {{data.pageText2|safe}}
        </div>
      </div>
      <div class="section--half__image">
        <img src="{{data._.pageImage2.fit(1000, 1000)}}">
      </div>
    </section><section class="section--half">
      <div class="section--half__text">
        <div class="inner">
          {{data.pageText3|safe}}
        </div>
      </div>
      <div class="section--half__image">
        <img src="{{data._.pageImage3.fit(1000, 1000)}}">
      </div>
    </section>
    <section class="section--half">
      <div class="section--half__text">
        <div class="inner">
          {{data.pageText4|safe}}
        </div>
      </div>
      <div class="section--half__image">
        <img src="{{data._.pageImage4.fit(1000, 1000)}}">
      </div>
    </section>
  </div>
{% endblock %}
