{% extends "layouts/base.html" %}

{% import "mixins/member.html" as Member %}

{% block bodyClass %}team{% endblock %}

{% block content %}
  <div class="team-wrapper content-wrapper animate-section">
    <div class="page__title">
      <h1 class="animate-element animate-element--translate">{{data.pageHeader}}</h1>
      <div class="introduction animate-element animate-element--translate">
        {{data.pageIntro}}
      </div>
    </div>
    <ul class="section__list">
      {% for member in members %}
        {{ Member.member(member.name, member._.image, member.title) }}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
