@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

:root {
  // --body-color: white;
  // --body-bg-color: black;
  --state-primary: $color-main;
  --link-color: $color-main;
  --button-bg-color-primary: $color-main;
  --input-border-color-focus: $color-main;
}

.main-wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 2rem auto;
}

.content-wrapper,
.header {
  display: grid;
  grid-template-columns: 12rem calc(100% - 12rem);

  @media (max-width: 768px) {
    display: block;
  }
}

.header {
  margin-bottom: 2rem;

  .title {
    color: black;
    display: inline-block;
    animation: fade-in-from-left .6s both;

    &:hover {
      color: black;
      text-decoration: none;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .right {
    padding-left: 2rem;
  }

  .page-title {
    font-size: 1.5rem;
    opacity: .8;
    position: relative;
    top: 8px;
    margin: 0;
  }
}

.content {
  padding-left: 2rem;

  @media (max-width: 768px) {
    padding: 0;
  }

  input,
  select,
  textarea {
    width: 300px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
