// .main-wrapper,
.content-wrapper {
  max-width: $content-max-width;
  margin: auto;
  position: relative;
  height: 100%;
}

.main-wrapper {
  background: $color-white;
}

.content-wrapper {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - #{$header-height});
  padding-top: $header-height;
}

.home .main {
  padding: 0;
}

.small-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.small-list__entry {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: .5rem;
  }

  i {
    margin-right: .3em;
    font-size: 1.2em;
  }

  img {
    height: 22px;
  }
}

.section--title {
  padding: $padding-section;
  position: relative;
  overflow: hidden;
  background: $color-white-2;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    padding: 2rem;
  }

  .title {
    font-size: 4rem;
    color: $color-gray;

    @media (max-width: $screen-sm-max) {
      font-size: 3rem;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 1.4rem;
      font-weight: 400;
    }

    span {
      color: $color-main;
      text-transform: uppercase;
    }
  }
}

.section--half {
  display: flex;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }

  @media (min-width: $screen-sm-min) {
    &:nth-child(2n) {
      .section--half__text {
        width: 55%;
        order: 1;

        .inner {
          margin-left: 0;
          margin-right: auto;
        }
      }

      .section--half__image {
        width: 45%;
      }
    }

    > div {
      min-height: 400px;
    }
  }
}

.section--half__text {
  width: 45%;
  display: flex;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    order: 1;
  }

  .inner {
    max-width: 565px;
    margin-left: auto;
    padding: $padding-section;

    @media (max-width: $screen-sm-max) {
      padding: 2rem;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0;
      max-width: 100%;
    }
  }

  a {
    color: $color-main;
  }
}

.section--half__image {
  width: 55%;

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section {
  padding: $padding-section;

  @media (max-width: $screen-xs-max) {
    padding: 2rem;
  }

  .section__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 2rem;
    }

    h1 {
      margin: 0;
    }

    .icon {
      height: 42px;
      width: 42px;
      margin-right: 1rem;

      @media (max-width: $screen-sm-max) {
        height: 32px;
        width: 32px;
        margin-right: .5rem;
      }

      @media (max-width: $screen-xs-max) {
        height: 26px;
        width: 26px;
      }

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: $color-main !important;
        }
      }
    }
  }

  .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    max-width: 900px;
    margin: auto;
    list-style: none;
    padding: 0;
  }

  .button-wrapper {
    text-align: center;
    margin-top: 3rem;
  }

  .button {
    display: inline-block;
  }
}

.section--fiches {
  background: $color-white-2;

  @media (max-width: $screen-sm-max) {
    .section__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .fiche:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    .section__list {
      grid-template-columns: repeat(1, 1fr);
    }

    .fiche:nth-child(2),
    .fiche:nth-child(3) {
      display: none;
    }
  }

  .fiche {
    @media (max-width: $screen-sm-max) {
      max-width: 300px;
      margin: auto;
    }
  }

  .fiche--inner {
    display: block;
    background: $color-white;
    overflow: hidden;
    position: relative;
    padding: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .1);

    &:hover {
      box-shadow: -4px 8px 15px rgba(0, 0, 0, .1);
      transform: translate3d(5px, -5px, 0);
      text-decoration: none;
      color: inherit;

      .arrow circle {
        stroke-dashoffset: 0;
      }
    }

    .description {
      margin: 0;
      color: $color-gray-2;
      font-size: .9rem;
    }

    .arrow {
      display: flex;
      margin-top: 1rem;

      svg {
        margin-left: auto;
        transition: transform 0.3s ease;

        circle {
          stroke-dasharray: 95;
          stroke-dashoffset: 95;
          transition: stroke-dashoffset .3s ease .1s;
        }
      }

      g {
        stroke: $color-main;
      }
    }
  }
}

.date {
  opacity: .5;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.tag-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.tag-list__entry {
  border: 1px solid $color-main;
  color: $color-main;
  padding: .3em;
  margin-bottom: .5rem;
  line-height: 1;
  border-radius: 3px;
  font-size: .8rem;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}

.section--team {
  border-top: 1px solid $color-main-lighter;

  .section__list {
    max-width: 660px;
    margin: auto;
    grid-gap: 4rem;

    @media (max-width: $screen-xs-max) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: $screen-xlg-min) {
      max-width: 1000px;
    }
  }

  .member {
    text-align: center;
  }

  .portrait {
    border-radius: 50%;
    overflow: hidden;
    background: $color-main;
    height: 120px;
    width: 120px;
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;

    svg {
      width: 85%;
      height: 85%;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);

      path {
        fill: $color-white !important;
      }
    }

    img {
      position: relative;
      z-index: 2;
    }
  }

  .title {
    color: $color-gray;
    font-size: .9rem;
  }

  p {
    margin: 0;
  }
}

.team .section--team {
  border: 0;
}

.section--map {
  padding: 0;
  height: 500px;
  background: url("/images/map-2.png");
  background-size: cover;
  // background-size: 100%;
  background-position: center;
  position: relative;
  box-shadow: inset 1px 4px 9px -6px;

  &.is-animated .card {
    transform: translate3d(0, -50%, 0) scale(1);
    opacity: 1;

    @media (max-width: $screen-xs-max) {
      transform: translate3d(-50%, 0, 0) scale(1);
    }
  }

  .card {
    position: absolute;
    right: calc(50% - 300px);
    top: 50%;
    transform: translate3d(0, -50%, 0) scale(.7);
    opacity: 0;
    transition: all .4s;
    width: 280px;

    @media (max-width: $screen-xs-max) {
      top: auto;
      left: 50%;
      bottom: 6rem;
      transform: translate3d(-50%, 30%, 0) scale(.7);
    }

    .card__inner {
      text-align: left;
      background: $color-white;
      padding: 1.5rem;
      border-radius: 5px;
      border: 1px solid $color-main;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }

    $arrow-size: 12px;

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: $screen-xs-max) {
        transform: translateX(-50%);
        top: auto;
      }
    }

    &:after {
      border-right: $arrow-size solid $color-main;
      left: -$arrow-size + 1px;
      z-index: 1;

      @media (max-width: $screen-xs-max) {
        left: 50%;
        border-top: $arrow-size solid $color-main;
        bottom: -2 * $arrow-size;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
      }
    }

    &:before {
      border-right: $arrow-size solid $color-white;
      left: -$arrow-size + 2px;
      z-index: 2;

      @media (max-width: $screen-xs-max) {
        left: 50%;
        border-top: $arrow-size solid $color-white;
        bottom: -2 * $arrow-size + 2px;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
      }
    }

    .heading-1 {
      text-align: left;
    }

    .small-list {
      color: $color-gray;
    }

    .button {
      align-self: center;
      margin-top: 1rem;
    }
  }
}
