.sidebar {
  border-right: 1px solid lightgray;
  text-align: right;
  padding-right: 2rem;
  // animation: fade-in-from-left .4s both;

  @media (max-width: 768px) {
    border: 0;
    text-align: left;
    padding: 0;
    margin-bottom: 2rem;
  }

  nav {
    animation: fade-in-from-left .4s both;

    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1rem;
      margin-bottom: .5rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
      animation: fade-in-from-left .4s both;

      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s;
        }
      }

      &.is-active a {
        background: $color-main;
        color: $color-white;
        padding: 2px;
      }
    }
  }
}
