$color-main-lighter: #c86888;
// $color-main: #974e67;
$color-main: $color-main-lighter;
$color-white: #fff;
$color-white-2: #faf6f3;
$color-black: #000;
// $color-gray: #353631;
$color-gray: #6f6c69;
$color-gray-2: #8c8987;
$color-gray-3: #f1f1f1;

$content-max-width: 1200px;
$header-height: 56px;
$padding-section: 4rem;

$font-family: 'Open Sans', sans-serif;
// $font-family: 'Lato', sans-serif;
// $font-family: 'Source Sans Pro', sans-serif;
// $font-family: 'Ubuntu', sans-serif;
