.animate-section.is-animated .animate-element {
  opacity: 1;
  transform: scale(1) translate3d(0, 0, 0);
}

.animate-element {
  transition: all .5s;
  opacity: 0;
  transform: scale(.8);

  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 150ms;
    }
  }
}

.animate-element--translate {
  opacity: 0;
  transform: scale(1) translate3d(0, 20px, 0);
}

.animate-element--fade {
  opacity: 0;
  transform: scale(1) translate3d(0, 0, 0);
}

// .home .header {
.header {
  animation: header-anim .6s both .4s;
}

.hero__bg {
  animation: hero-bg-anim 10s both;

  @media (max-width: $screen-xs-max) {
    animation: 0;
  }
}

.hero__content {
  animation: hero-content-anim .6s both .6s;

  @media (max-width: $screen-xs-max) {
    animation: hero-content-anim-mobile .6s both .6s;
  }
}

.hero__scroll-first {
  animation: hero-button-anim .6s both .8s;
}

@keyframes header-anim {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hero-bg-anim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hero-content-anim {
  0% {
    opacity: 0;
    transform: translate3d(0, -60%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes hero-content-anim-mobile {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -10%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes hero-button-anim {
  0% {
    opacity: 0;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
