.contact-wrapper {
  h2 {
    text-align: center;
    text-transform: none;
  }

  .introduction {
    margin-bottom: 3rem;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 1.5rem;
    }
  }

  .input-single,
  label {
    width: 100%;
  }

  .input-single {
    margin-bottom: 2rem;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 1.5rem;
    }
  }
}
